<nav>
  <div class="nav-left">
    <img class="logo" src="assets/images/logo-wheat.png" alt="">
  </div>
  <div class="nav-center">
    <h3>Zauberkette</h3>
    <div class="center-right">
      <div class="game-goal" id="gameGoalID">
        <span>Spielziel Zauberkettenlänge:</span>
        <input type="number" id="goalInput" value="5" min="2" max="12" step="1" onchange="updateGoal()">

      </div>
      <button class="nav-btn" onclick="changeMute()">
        <img class="volume_up" src="assets/images/btn/volume_up.png" alt="">
        <img class="volume_off" src="assets/images/btn/volume_off.png" alt="">
      </button>

      <button class="nav-btn" id="fullscreenBtn" onclick="toggleFullscreen()">
        <img class="fullscreen-enter" src="assets/images/btn/fullscreen-enter-32.png" alt="Enter Fullscreen">
        <img class="fullscreen-exit" src="assets/images/btn/fullscreen-exit-32.png" alt="Exit Fullscreen"
          style="display: none;">
      </button>

      <button class="nav-btn" onclick="skipToStart()">
        <img class="volume_up" src="assets/images/btn/skip-to-start-32.png" alt="">
      </button>
    </div>
  </div>
  <div class="nav-right">
    <div class="menuToggle" id="menuToggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#">
          <div onclick="changeView()">mirror-view</div>
        </a>
        <a href="index.html">Home</a><br>
        <a href="javascript:void(0);" onclick="openRulesPopup()">Game Rules</a><br>
        <a href="">More</a>
      </ul>
    </div>

</nav>